.mainCard {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid;
   margin-bottom: 10px;
}
.imageFace {
    height: 150px;
    width: 150px;
}

.forCard {
display: flex;
justify-content: center;
gap: 60px;
margin-bottom: 20px;
}
.for {
    display: flex;
    width: 260px;
    border: 2px solid;
}
.tenCard {
    display: flex;
    flex-direction: column;
    
    gap:20px;
}
.ten {
    border-radius: 30px;
    border: 2px solid;
}
p {
    color:black;
    text-align: center;
    word-wrap:break-word;
}